html {
  height: 100%;
}
body {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
}

.logo {
  margin-bottom: 20rem;
}

.slogans {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .8rem;
}

.logo a :hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

footer {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: .2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 1rem;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
}

/* Media queries for screens smaller than 768px */
@media (max-width: 768px) {
  .logo {
    margin-bottom: 2rem; 
  }
  .slogans {
    font-size: 1rem; 
    letter-spacing: .4rem; 
  }
  footer {
    font-size: 0.8rem; 
    letter-spacing: .1rem; 
  }
  footer a {
    font-size: 0.9rem; 
  }
}